body {
  font-family: Arial, Helvetica, sans-serif;  
}

.background-color-dark {
  background-color: rgb(25, 25, 25);
}


.title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 35px;
}

.theme {
  display: flex;
  justify-content: right;
}

.theme-button {
  background-color: transparent;
  border: 0;
}

.theme-img {
  height: 32px;
}

.move-buttons {
  height: auto;
  background-color: transparent;
  border: 1px solid;
  border-color: black;
  border-radius: 100%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.img-move {
  height: 50px;
  padding: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.instructions {
  display: flex;
  justify-content: center;
}

.js-score,
.js-result,
.js-moves,
.js-rank,
.js-next-rank {
  display: flex;
  justify-content: center;
}

.score,
.auto-play-button {
  display: block;
  background-color: red;
  border: 0;
  color: white;
  padding: 15px 35px 15px 35px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
}

.score:hover {
  opacity: 70%;
}

.score:active {
  opacity: 50%;
}

.auto-play-button:hover {
  opacity: 70%;
}

.auto-play-button:active {
  opacity: 50%;
}

.score:active {
  opacity: 50%;
}

.js-moves {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.info {
  margin-top: 100px;
}
@media (max-width: 500px) {
  .title {
    font-size: 27px;
    display: flex;
    justify-content: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .img-move {
    padding: 25px;
  }
  
  .move-buttons {
    margin: 5px;
  }
}